.button {
  display: inline-block;
  padding: 0.5rem;
  font-size: 0.8rem;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: darken($theme-colour, 15%);
  &:hover {
    background-color: #ccc;
    color: black;
  }
  &.blog-index-button {
    &::after {
      content: " >";
    }
  }
}
