$theme-colour: #88b198; /*GREEN*/
$theme-colour-two: pink;
$theme-colour-three: #b6b600; /*YELLOW*/

$first-colour: $theme-colour; /*BLUE*/
$second-colour: lighten($theme-colour, 10%);
$third-colour: lighten($theme-colour, 20%);
$fourth-colour: lighten($theme-colour, 30%);

$selection-color: #ff6a67; /**/

$pale-grey: #eeeeee;
$light-grey: #cccccc;
$dark-grey: #666666;

$body-bg: #ffffff;
