$theme-colour: #88b198;
$theme-colour-two: pink;
$theme-colour-three: #b6b600;

$first-colour: #1866e2;
$second-colour: #3b82f6;
$third-colour: #93c5fd;
$fourth-colour: #c6e1ff;
$selection-color: #ff6a67;

$pale-grey: #eeeeee;
$light-grey: #cccccc;
$dark-grey: #666666;

$body-bg: #ffffff;
