.md\:grid {
  @media (min-width: 768px) {
    display: grid;
    &.md\:cols-2 {
      grid-template-columns: repeat(2, 1fr);
    }
    &.md\:cols-3 {
      grid-template-columns: repeat(3, 1fr);
    }
    &.md\:cols-4 {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  &.md\:gap-1 {
    gap: 1rem;
  }
  &.md\:gap-2 {
    gap: 2rem;
  }
  &.md\:gap-3 {
    gap: 3rem;
  }
  &.md\:gap-4 {
    gap: 4rem;
  }
}
.lg\:grid {
  @media (min-width: 1024px) {
    display: grid;
    &.lg\:cols-2 {
      grid-template-columns: repeat(2, 1fr);
    }
    &.lg\:cols-3 {
      grid-template-columns: repeat(3, 1fr);
    }
    &.lg\:cols-4 {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  &.lg\:gap-1 {
    gap: 1rem;
  }
  &.lg\:gap-2 {
    gap: 2rem;
  }
  &.lg\:gap-3 {
    gap: 3rem;
  }
  &.lg\:gap-4 {
    gap: 4rem;
  }
}

.xl\:grid {
  @media (min-width: 1025px) {
    display: grid;
    &.xl\:cols-2 {
      grid-template-columns: repeat(2, 1fr);
    }
    &.xl\:cols-3 {
      grid-template-columns: repeat(3, 1fr);
    }
    &.xl\:cols-4 {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  &.xl\:gap-1 {
    gap: 1rem;
  }
  &.xl\:gap-2 {
    gap: 2rem;
  }
  &.xl\:gap-3 {
    gap: 3rem;
  }
  &.xl\:gap-4 {
    gap: 4rem;
  }
}

.col-span-1 {
  grid-column: span 1 / span 1;
}
.col-span-2 {
  grid-column: span 2 / span 2;
}
.col-span-3 {
  grid-column: span 3 / span 3;
}
.col-span-4 {
  grid-column: span 4 / span 4;
}
