/* 
Roboto:
https://fonts.googleapis.com/css?family=Roboto
*/
@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
    url("/assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

html {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  padding: 1rem 0;
  line-height: 1;
  font-weight: bold;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.33rem;
}
h4 {
  font-size: 1.17rem;
}
h5 {
  font-size: 0.83rem;
}

p {
  font-size: 1.2rem;
  line-height: 1.75;
  margin: 0 0 1rem 0;
}
