/* 
Roboto:
https://fonts.googleapis.com/css?family=Roboto
*/
@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
    url("/assets/fonts/Roboto_condensed/Roboto-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "RobotoCondensed-Regular";
  src: local("RobotoCondensed-Regular"),
    url("/assets/fonts/Roboto_condensed/RobotoCondensed-Regular.ttf")
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "RobotoCondensed-Bold";
  src: local("RobotoCondensed-Bold"),
    url("/assets/fonts/Roboto_condensed/RobotoCondensed-Bold.ttf")
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "RobotoCondensed-ExtraBold";
  src: local("RobotoCondensed-ExtraBold"),
    url("/assets/fonts/Roboto_condensed/RobotoCondensed-ExtraBold.ttf")
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "RobotoCondensed-Black";
  src: local("RobotoCondensed-Black"),
    url("/assets/fonts/Roboto_condensed/RobotoCondensed-Black.ttf")
      format("truetype");
  font-display: swap;
}
/* 
Monomaniac_One:
https://fonts.google.com/specimen/Monomaniac+One
*/
@font-face {
  font-family: "Monomaniac";
  src: local("Monomaniac"),
    url("/assets/fonts/Monomaniac_One/MonomaniacOne-Regular.ttf")
      format("truetype");
  font-display: swap;
}
/* 
Impact:
*/
@font-face {
  font-family: "Impact";
  src: local("Impact"),
    url("/assets/fonts/Impact/impact.ttf") format("truetype");
  font-display: swap;
}
