@import "partials/reset";
@import "partials/grid";
@import "partials/flex";
@import "partials/typography";
@import "partials/colours";
@import "partials/blog-aside";
@import "partials/buttons";

html {
  scroll-behavior: smooth;
  font-size: 1em;
}
::selection {
  color: #ffffff;
  background: #ff6a67;
}
body {
  height: 100vh;

  background-image: linear-gradient(
    24deg,
    #000000 0%,
    #000000 25%,
    #323232 25%,
    #323232 100.002%
  );

  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-color: darken($body-bg, 10%);
  main {
    position: relative;
    top: 4.5rem;
    @media (min-width: 768px) {
      top: 6rem;
    }
  }
  /* section {
  } */
  .container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 0.5rem;
  }
}
