@import "partials/reset";
@import "partials/grid";
@import "partials/flex";
@import "partials/typography";
@import "partials/colours";
@import "partials/buttons";

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-color: darken($body-bg, 10%);
  .container {
    background-color: lighten(hotpink, 10%);
    margin: 0 auto;
    max-width: 1440px;
  }
}
